body{
    background:#e6e4e4;
    font-family:Tahoma,Geneva,sans-serif;
    font-size:14px;
    margin:0;
    padding:0;
    border:black solid 2px;

}


#topline{
    background:#323030;
    height: 5px;


}

#header{
    width:1000px;
    height:95px;
    margin:auto;



}

#logo{
    background:url(../images/logo.png) center left no-repeat;
    width:263px;
    height:95px;
    display:block;

    float: left;

}
#call{
    font-size: 30px;
    color:#7e7b7b;
    font-family:Arial;
    float:left;
    width:265px;
    text-align: center;
    padding-top:15px;




}
#top-menu{
    width:405px;

    height: 33px;
    display:table-cell;
    vertical-align: middle;
    background: #3b3838;
    background: -moz-linear-gradient(-90deg,#3b3838,#504c4c 80%);
    background: -webkit-linear-gradient(-90deg,#3b3838,#504c4c 80%);
    background: -o-linear-gradient(-90deg,#3b3838,#504c4c 80%);
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    -moz-animation: border-box;
    -webkit-animation: border-box;
    padding:0 7px;



}

#top-menu a{
    color:#d7d6d6;
    margin:0 6px;
    text-decoration:none;
}

#top-menu a:hover {
    text-decoration:underline;
}

.topmenuline{
    width:1px;
    height:16px;
    background: #5c5757;
    display:inline-block;
    margin-bottom: -3px;
}

.search{
    width:248px;
    height:38px;
    float: left;
    background: #ffffff;
    border: #b4b2b2 solid 2px;
    border-radius: 5px;
    margin-top:10px;
    box-sizing: border-box;
    -moz-animation: border-box;
    -webkit-animation: border-box;



}

#searchform input[type="text"]{
    width:190px;
    height:23px;
    margin:4px  0 20px 2px;
    color:#010101;
    border:0;
    vertical-align: middle;
    padding-left: 10px;




}

#searchform input[type="submit"]{
    width:30px;
    height:30px;
    background:url(../images/search.png) center no-repeat;
    cursor: pointer;
    border:0;

}

#empty-btn{
    background:url(../images/empty.png) center no-repeat;
    width:155px;
    height: 29px;
    display:block;
    float:left;
    margin-top:12px;
    margin-left:2px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-top:5px;



}

#content{
    width: 940px;
    height:776px;
    background: #ffffff;
    margin-left:205px;
    box-shadow: 0 5px 15px #423f3f;
    padding:20px 0;

}
#leftblock{
    width:200px;
    height: 796px;
    float:left;
    border-right: solid red 1px;
}
